.container h3 {
  color: #888888;
  padding-left: 140px;
}

form {
  display: flex;
  justify-content: space-between;
  margin: 0 10%;
}

input {
  border:1px solid #c4c4c4;
}

input[type="text"]:nth-child(1) {
  width: 40%;
}


input[type="text"]:nth-child(2) {
  width: 20%;
}

input::placeholder {
  color: #c4c4c4;
}

form button {
  background-color: #0290ff;
  color: #fff;
  border: none;
  padding: 10px 30px;
  width: 15%;
}
