.container {
    /* padding: 20px; */
}

.container h3 {
    padding-left: 140px;
}

form {
    display: flex;
    justify-content: center;
}

input[type="text"] {
    width: 50%;
    margin: 0 10px;
  }
  
  select {
    width: 18%;
    margin: 0 20px;
  }

  form button {
    background-color: #0290ff;
    color: #fff;
    border: none;
    padding: 10px 30px;
  }